[Interface]
Address = {{ .Nodes.HK.WGAddress }}
PrivateKey = {{ .Nodes.HK.WGPrivateKey }}
MTU = 1420

[Peer]
PublicKey = {{ .Nodes.US.WGPublicKey }}
Endpoint = {{ .Domains.WireGuard }}:{{ .Nodes.US.WGPort }}
AllowedIPs = {{ cidrIP .Nodes.US.WGAddress }}/32
PersistentKeepalive = 25
