[Interface]
Address = {{ .Nodes.US.WGAddress }}
ListenPort = {{ .Nodes.US.WGPort }}
PrivateKey = {{ .Nodes.US.WGPrivateKey }}

[Peer]
PublicKey = {{ .Nodes.HK.WGPublicKey }}
AllowedIPs = {{ cidrIP .Nodes.HK.WGAddress }}/32
